
@{
    ViewData["Title"] = "Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Furniture</h1>

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Edgecut</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- font awesome style -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/assets/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">
        <!-- header section strats -->
       
        <!-- end header section -->
    </div>

    <!-- furniture section -->

    <section class="furniture_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Furniture
                </h2>
                <p>
                    which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't an
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/assets/images/f1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                brown Chair Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 100.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/assets/images/f2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Double Bed Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/assets/images/f3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                House Chair Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/assets/images/f4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                brown Table Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 100.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/assets/images/f5.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Blue Chair Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/assets/images/f6.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Brown Table Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end furniture section -->
    <!-- info section -->
   
    <!-- end info_section -->
    <!-- footer section -->
    <!-- footer section -->
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->

</body>

</html>